<div>
  <div class="page-bg idp-bg">
    <h2 class="head-sub-title">{{ word.head_sub_title }}</h2>
  </div>
  <div class="pg-title-div">
    <h3 class="pg-title">{{ word.pg_title }}</h3>
  </div>
</div>

<!--Start:subheadr-->
<div class="m-subheader" style="background-color: #ffffff">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ word.h3_subheader }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline" *ngIf="!loading">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/index" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
    <!--Begin:Language-->
    <ul class="m-topbar__nav m-nav m-nav--inline">
      <li
        class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img"
        data-toggle="modal"
        data-target="#langSelect"
      >
        <span>
          <span
            class="m-topbar__username"
            style="padding-left: 10px; padding-right: 10px"
          >
            {{ word.lang }} :
          </span>
          <span class="m-topbar__userpic">
            <button
              *ngIf="enChecked"
              type="button"
              title="English"
              data-toggle="m-tooltip"
              data-placement="top"
              class="btn m-btn--pill m-btn--air btn-outline-info active btn-sm"
            >
              EN
            </button>
            <button
              *ngIf="!enChecked"
              type="button"
              title="Malay"
              data-toggle="m-tooltip"
              data-placement="top"
              class="btn m-btn--pill m-btn--air btn-outline-info active btn-sm"
            >
              MY
            </button>
          </span>
        </span>
      </li>
    </ul>
    <div
      class="modal fade"
      id="langSelect"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      style="display: none"
      aria-hidden="true"
    >
      <div
        class="modal-dialog msg-dialog modal-dialog-centered"
        role="document"
        style="max-width: 235px !important; margin: auto !important"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 style="text-align: center; font-size: 1.25rem">
              {{ word.lang }}
            </h5>
            <button
              type="button"
              id="lang_close"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="m-dropdown__content">
              <label
                class="lang-radio m-radio m-radio--solid m-radio--success"
                style="font-size: 16px"
              >
                <input
                  type="radio"
                  #en
                  name="lang"
                  value="en"
                  [checked]="enChecked"
                  (change)="langChange(en)"
                />
                &nbsp;&nbsp; English
                <span style="width: 23px; height: 23px"></span>
              </label>
              <br />
              <label
                class="lang-radio m-radio m-radio--solid m-radio--success"
                style="font-size: 16px"
              >
                <input
                  type="radio"
                  #my
                  name="lang"
                  value="my"
                  [checked]="!enChecked"
                  (change)="langChange(my)"
                />
                &nbsp;&nbsp; Malay
                <span style="width: 23px; height: 23px"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End:Language-->
  </div>
</div>
<!--End:subheadr-->

<!--Start:Content-->
<div class="m-content" style="background-color: #ffffff">
  <div class="row" *ngIf="loading">
    <div class="col-lg-12 centred my-auto">
        <idp-loading></idp-loading>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-lg-12 col-md-12">
      <p class="font-bold">
        {{word.welcome}}
      </p>
      <p>{{word.intro}}</p>
      <p>{{word.instruction}}</p>
    </div>
  </div>  
  <!-- icon services -->
  <div class="row" *ngIf="!loading">
    
    <!-- movement permit -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a href="/e-letter/movepermit" class="btn">
          <img src="../../../../../assets/img/user/evl/movement-permit.png" alt="movement-permit" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_6}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- tm-housing-loan -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/tm-housing-loan.png" alt="tm-housing-loan" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_1}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- housing-loan -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/housing-loan.png" alt="housing-loan" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_2}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- personal-loan -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/personal-loan.png" alt="personal-loan" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_3}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- doc_endorsement -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/doc_endorsement.png" alt="doc-endorsement" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_4}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- maritial-status -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/maritial-status.png" alt="maritial-status" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_5}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- visa-application -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/visa-application.png" alt="visa-application" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_7}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- gov-affair -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/gov-affair.png" alt="gov-affair" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_8}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- scholarship -->
    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 justify-content-center">
        <a class="btn">
          <img src="../../../../../assets/img/user/evl/scholarship.png" alt="scholarship" class="text-center rounded-circle" style="width:60px;">
          <div class="caption">
            <p>{{word.icon_txt_9}}</p>
          </div>
        </a>
      </div>
    </div>

  </div>  
</div>
 <!--End:Content--> 