<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Homepage
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/admin/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="m-portlet m-portlet--rounded">
                <div class="m-portlet__head m--bg-focus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-inverse-primary">
                                About Us
                                <small>
                                    <!--portlet sub title-->
                                    5D 6D SCAN MALAYSIA
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="white-space:pre-wrap;">
                    WHY CHOOSE US ? SERVICES GUARANTEE FROM US
                    NEW CHALLENGE from us : GENDER COMFIRMATION CHALLENGE and FACE CHALLENGE
                    - FREE scan if fail to capture baby face
                    - gender comfirmation challenge , if wrong we FULLY REFUND (22week above)

                    HOW TO JOIN
                    - fetus must be 22 week above
                    - get the signature and name of sonographer on duties and write down the gender, date scan , location scan behind the printed simple report
                    - get the clinic receipt (photostate, or hp capture also can as your copy)
                    ONCE BABY DELIVER
                    if baby gender is correct ~ as appreciation of the service that we gave we hope customer can give us good comment and submit your baby BEFORE and AFTER 4d scan picture at facebook album
                    if baby gender wrong ~~ you can claim FULLY REFUND that you had pay on that day ~ keep your clinic receipt plus show us the printed simple report that we have sign ~~
                    ===================================================================================================

                    LOCATION:
                    ampang and bangi have 3d 4d hd/5d scan
                    kelana jaya have 3d 4d hd/5d 6d scan
                    other area will be 3d 4d scan only.

                    What is the different between 3d 4d NEW HD /5D/6D SCAN
                    3d is picture , 4d scan is live video. Hd live it is same as 3d4d , it is not 5d scan, the different between 3d4d scan and hdlive is the texture of the color it is like real skin of baby , however due to many clinic advertise hd scan is 5d scan, to avoid confusion hd scan/5d scan /FRV categorize the same. And the latest 6d scan previously called 5d cine is wearing spec 3d to view your baby and only available in SONOVISION kelana jaya. The first 6d scan ultrasound studio in KL/Selangor

                    Different between 2d FULL detail and 2d PARTIAL detail ?
                    FULL detail scan(20-25week) included counting all the fingers and toes, spine, brain measurement, face, spine, organ in abdomen , heart, gender, amniotic fluid, placenta, baby weight. Its accuracy will be up to 80-90percent if you had done within the 20-25week.
                    PARTIAL detail scan (25-30week) no fingers and toes counting, no brain measurement, spine survey not that accurate, however, face, organ in abdomen, all limbs bone, heart, gender, amniotic fluid, placenta, baby weight will be survey. Its accuracy will be up to 50-60percent if you had done within 25-30week.
                    note : Detail scan only can detect physical anomaly, it cant pickup some small anomaly, and it also count not detect chromosome anomaly such as sindrom down while 3d 4d hd 5d 6d scan is viewing baby live pic/video is for memory keeping for parent not to checking baby anomaly
                    ===================================================================================================

                    Hello Pregnancy Mummies and Daddies, welcome to 3d 4d 5d 6d scan malaysia online booking system.


                    FACEBOOK : https://www.facebook.com/pages/3D-4D-scan-Malaysia/120155484710450
                    Any comment, question, picture sharing before/after album please checkout at our FACEBOOK which will update almost everyday

                    SONOGRAPHER WEEKLY SCHEDULE :
                    https://www.facebook.com/pages/3D-4D-scan-Malaysia/120155484710450 ( PINNED POST)

                    ===================================================================================================

                    STEP FOR ONLINE BOOKING :
                    1) select the area that you wish to scan by scrolling to the bottom of this page
                    2) Select date or time that provided. Only certain day or time which sonographer available. If the date could not book or time could not be choosen is either the clinic is close on that day or fully book . Please choose the date and time slot that still available as we have limited slot per day.
                    3) Fill in your detail include your name, address, contact no, and other info before you click NEXT.
                    4) the system will show you the exact clinic name and address. Please read the information of that page before you press MAKE APPOINTMENT !
                    5) take note the price, name of clinic address, name of sonographer that will be scan on that day , contact no of clinic for location direction , charges before you come to our place.
                    6) After u had press MAKE APPOINTMENT, system will show you PENDING CONFIRMATION . system usually need the most 6 hour to confirm your appointment.
                    (a) if you book on same day : please sms 0176202933 for urgent confirmation.
                    (b) if you book few day before or 1 day before : please wait at least 6 hour to confirm your appointment.
                    7) How to know your status of confirmation
                    (a) please check your email for comfirmation , if you did not find in your email within 6 hour, please check your spam mail .
                    (b) you can login to the system with your username and password given later to check your status.
                    8) After you receive your confirmation status , you can come straight to the clinic that you had book.

                    All appointment still in FIRST COME FIRST SERVE BASIS even though you have choose your time due to few reason include previous customer do not come on time, previous baby do not cooperate might take longer time for scan, we apologize if need you to wait

                    ==========================================================================

                    TAKE NOTE : OUR services and hospital/clinic services is NOT SAME, eventhough we are scan in same location, WE MIGHT VARY in term of PRICE, POLICY, SONOGRAPHER, quality and quantity of 3d 4d. Hence, please do not call direct to clinic or hospital to change your own schedule, only ONLINE slot is scan by our sonographer team only. You can call clinic/ hospital directly for direction. Any enquiry please SMS to 0176202933. thanks.

                    TAKE NOTE: Serviks yang diberikan oleh kami dengan hospital atau klinik adalah TIDAK SAMA, walaupun tuan/puan discan di tempat yang sama di segi harga, polisi scan yang dinyatakan di email, kualiti gambar dan kuantiti gambar. Oleh itu, sila jangan call hospital atau klinik tersebut untuk penukaran waktu , hanya masa yang boleh dipilih di ONLINE sahaja akan discan oleh sonographer kami. Tuan/ puan boleh call hospital/ klinik untuk pertanyaan lokasi tempat tersebut. Jika ada sebarang pertanyaan sila SMS ke 0176202933. terima kasih


                    3d 4d 5d 6d scan could not be used as medical advises as 3d 4d 5d 6d scan is more for parents bonding to their baby before birth. 3d 4d 5d 6d scan malaysia might act as a fetal photo studio to capture more nice images and quality short clip video for the parent to keep as their best memory during their pregnancy. 3d 4d scan could not detect anomaly of your baby. However, normal growth scan reading parameter is still provided which include growth scan, fetal weight, saiz of fetus, fetus position, placenta location and amniotic fluid level . for 2d detail scan, mainly to check the physical anomaly of the baby but not chromosom abnormaly which include down syndrome. Mostly we will verbally explain your fetus condition and a simple report will be provided.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--rounded">
                <div class="m-portlet__head m--bg-focus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-inverse-primary">
                                Make Appointment
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <h5>Penang</h5>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for Penang 1</a>
                    </p>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for Penang 2</a>
                    </p>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for Penang 3</a>
                    </p>
                    <div class="m--margin-top-20"></div>
                    <h5>Kuala Lumpur</h5>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for KL 1</a>
                    </p>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for KL 2</a>
                    </p>
                    <div class="m--margin-top-20"></div>
                    <h5>Petaling Jaya, Kelana Jaya</h5>
                    <p>
                        <i class="la la-calendar"></i>
                        <a href="#">Make appointment for Kelana Jaya</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
