<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

<notifier-container></notifier-container>

<!-- START: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Settings
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                
                <li class="m-nav__item">
                    <span class="m-nav__link-text " style="font-size: 16px">
                        User Management
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--full-height">
                <!--begin::Section-->
                <div class="m-accordion m-accordion--bordered" id="m_accordion_1" role="tablist">
                    <!-- :start section 1 -->
                    <div class="m-accordion__item">
                        <div class="m-accordion__item-head" role="tab" id="m_accordion_sec1_head" data-toggle="collapse"
                            href="#m_accordion_sec1_body" aria-expanded="    false">
                            <span class="m-accordion__item-mode" style="margin-top: 5px !important; display: inline-block !important;"></span>
                            <span class="m-accordion__item-title m-accordian__item-mode-title pl-2">
                                Admin
                            </span>
                            <span class="m-accordion__item-icon">
                                <i class="fa flaticon-user-settings"></i>
                            </span>
                        </div>
                        <div class="m-accordion__item-body  show" id="m_accordion_sec1_body" role="tabpanel"
                            aria-labelledby="m_accordion_sec1_head" data-parent="#m_accordion_1">
                            <div class="m-accordion__item-content">
                                <div class="col-lg-12 centred my-auto">
                                    <!-- <ng-template #alertErrorSec1></ng-template> -->
                                </div>

                                <div *ngIf="loading1" style="text-align: center !important">
                                    <span>Loading data. Please wait... </span>
                                    <span>
                                        <div class="m-loader m-loader--lg m-loader--success" style="width: 30px; display: inline-block;"></div>
                                    </span>
                                </div>

                                <div *ngIf="!loading1">
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" class="btn m-btn--pill btn-primary btn-sm" data-toggle="modal" (click)="updateJobUser(1)" data-target="#modal_new_job_user">
                                                <i class="fa flaticon-user-settings"></i> Add Admin
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row table-responsive">
                                        <div class="col-lg-12">
                                            <table class="table table-striped table-hover m_datatable">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Staff ID</th>
                                                        <th>Name</th>
                                                        <th>LOB</th>
                                                        <th style="width:20px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let adm of pagedItemsAdm">
                                                        <td>{{adm.staff_id}}</td>
                                                        <td>{{adm.Name}}</td>
                                                        <td>{{adm.lob}}</td>
                                                        <td class="d-flex flex-row">
                                                            <button href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                                                title="Delete" id="delJobUsr2" style="visibility: hidden" (click)="delUserSubmit()">
                                                                <i class="la la-trash"></i>
                                                            </button>
                                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                                                title="Delete" id="delJobUsr" (click)="selectedUser(adm)">
                                                                <i class="la la-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <nav aria-label="Page navigation example">
                                                <ul *ngIf="pagerAdm.pages && pagerAdm.pages.length" class="pagination justify-content-end">
                                                    <li class="page-item" [ngClass]="{disabled:pagerAdm.currentPage === 1}">
                                                        <button (click)="setPageAdm(1)" class="page-link" href="#"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">First</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerAdm.currentPage === 1}">
                                                        <button (click)="setPageAdm(pagerAdm.currentPage - 1)" class="page-link"
                                                            href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&lt;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" *ngFor="let page of pagerAdm.pages" [ngClass]="{active:pagerAdm.currentPage === page}">
                                                        <button (click)="setPageAdm(page)" class="page-link" href="#">{{page}}</button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerAdm.currentPage === pagerAdm.totalPages}">
                                                        <button (click)="setPageAdm(pagerAdm.currentPage + 1)" class="page-link"
                                                            href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&gt;</span>
                                                            <span class="sr-only">Next</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerAdm.currentPage === pagerAdm.totalPages}">
                                                        <button (click)="setPageAdm(pagerAdm.totalPages)" class="page-link"
                                                            href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Last</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- :end section 1 -->

                    <!-- :start section 2 -->
                    <div class="m-accordion__item">
                        <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_sec2_head" data-toggle="collapse"
                            href="#m_accordion_sec2_body" aria-expanded="    false">
                            <span class="m-accordion__item-mode" style="margin-top: 5px !important; display: inline-block !important;"></span>
                            <span class="m-accordion__item-title m-accordian__item-mode-title pl-2">
                                User
                            </span>
                            <span class="m-accordion__item-icon">
                                <i class="fa flaticon-user-add"></i>
                            </span>
                        </div>
                        <div class="m-accordion__item-body collapse" id="m_accordion_sec2_body" role="tabpanel"
                            aria-labelledby="m_accordion_sec2_head" data-parent="#m_accordion_1">
                            <div class="m-accordion__item-content">
                                <div class="col-lg-12 centred my-auto">
                                    <!-- <ng-template #alertErrorSec2></ng-template> -->
                                </div>

                                <div *ngIf="loading2" style="text-align: center !important">
                                    <span>Loading data. Please wait... </span>
                                    <span>
                                        <div class="m-loader m-loader--lg m-loader--success" style="width: 30px; display: inline-block;"></div>
                                    </span>
                                </div>

                                <div *ngIf="!loading2">
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" class="btn m-btn--pill btn-primary btn-sm" data-toggle="modal" (click)="updateJobUser(2)" data-target="#modal_new_job_user">
                                                <i class="fa flaticon-user-add"></i> Add User
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row table-responsive">
                                        <div class="col-lg-12">
                                            <table class="table table-striped table-hover m_datatable">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Staff ID</th>
                                                        <th>Name</th>
                                                        <th>LOB</th>
                                                        <th style="width:20px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let user of pagedItemsUsr">
                                                        <td>{{user.staff_id}}</td>
                                                        <td>{{user.Name}}</td>
                                                        <td>{{user.lob}}</td>
                                                        <td class="d-flex flex-row">
                                                            <button href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                                                title="Delete" id="delJobUsr2" style="visibility: hidden" (click)="delJobUserSubmit()">
                                                                <i class="la la-trash"></i>
                                                            </button>
                                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                                                title="Delete" id="delJobUsr" (click)="selectedUser(user)">
                                                                <i class="la la-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <nav aria-label="Page navigation example">
                                                <ul *ngIf="pagerUsr.pages && pagerUsr.pages.length" class="pagination justify-content-end">
                                                    <li class="page-item" [ngClass]="{disabled:pagerUsr.currentPage === 1}">
                                                        <button (click)="setPageUsr(1)" class="page-link" href="#"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">First</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerUsr.currentPage === 1}">
                                                        <button (click)="setPageUsr(pagerUsr.currentPage - 1)" class="page-link"
                                                            href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&lt;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" *ngFor="let page of pagerUsr.pages" [ngClass]="{active:pagerUsr.currentPage === page}">
                                                        <button (click)="setPageUsr(page)" class="page-link" href="#">{{page}}</button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerUsr.currentPage === pagerUsr.totalPages}">
                                                        <button (click)="setPageUsr(pagerUsr.currentPage + 1)" class="page-link"
                                                            href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&gt;</span>
                                                            <span class="sr-only">Next</span>
                                                        </button>
                                                    </li>
                                                    <li class="page-item" [ngClass]="{disabled:pagerUsr.currentPage === pagerUsr.totalPages}">
                                                        <button (click)="setPageUsr(pagerUsr.totalPages)" class="page-link"
                                                            href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Last</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- :end section 2 -->

                </div>
            </div>
        </div>

    </div>
</div>

<!-- :start Add/Update Modal -->
<!-- Start Requirements Modal   -->
<div class="modal fade" id="modal_new_job_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="addNewForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add New {{addTitle}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Search User:*
                        </label>
                        <br>
                        <sui-multi-select class="selection form-control" 
                                          [options]="options"
                                          [isSearchable]="true"
                                          #multiSelect 
                                          [optionFormatter]="formatter"
                                          (keyup)="onNameKeyUp($event)"
                                          (selectedOptionsChange)="multiSelectedUser($event)"
                                          formControlName="juUser"
                                          [maxSelected]="1">
                            <sui-select-option *ngFor="let option of newData" [value]="option"></sui-select-option>
                        </sui-multi-select>
                    </div>
                    <div *ngIf="disable">
                        <span style="color:red">Please select 1 user only</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            LOB:*
                        </label>
                        <select #searchLOB class="form-control m-input" [hidden]="loadingLob" formControlName="juLOB" placeholder="Select LOB">
                            <option value="" disabled selected>Select Lob</option>
                            <option *ngFor="let item of optLobList" value="{{item.lob}}" >{{item.lob}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">
                        Close
                    </button>
                    <button [disabled]="!addNewForm.valid || disable" type="submit" class="btn btn-primary" onclick="$('.modal').modal('hide')" (click)="addNewSubmit()"> 
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- :end Add/Update Modal -->


<button style="visibility: hidden" id="test"></button>
