	<!-- CSS
	<link rel="stylesheet" href="assets/frontpage/css/style.css"> 
	<link rel="stylesheet" href="assets/frontpage/css/skins/default.css" data-color-skins=""> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!---->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114064060-6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-114064060-6');
	</script>

	<div id="full-container">
		<header id="header">
			<section class="header-top-content">
				<div class="header-top-content-inner">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">

								<!-- <div class="contact-info">
									<span>
										<i class="fa fa-envelope-o"></i>oip@tmrnd.com.my</span>
								</div> -->


								<!-- end col-sm-12 -->
							</div>
							<!-- end row -->
						</div>
						<!-- end container -->
					</div>
					<!-- end header-top-content-inner -->
				</div>
				<!-- end header-top-content -->
			</section>

			<section id="header-featured-content-outer">
				<div class="header-parallax fullscreen" data-stellar-background-ratio="0.5">
					<div class="pattern-overlay" data-pattern-overlay-darkness-opacity="0.85" data-pattern-overlay-background-image="none"></div>
					<div class="header-colored-background" data-background-color="" data-background-color-opacity=""></div>
					<!-- end header-colored-background -->
					<div class="header-featured-content">
						<ul class="header-slider owl-carousel auto-pattern-and-colored-BG">

							<li data-stellar-background-ratio="0.5">
								<div class="container">
									<div class="row">
										<div class="col-md-5 hidden-sm">
											<div class="header-center-box">
												<div class="header-center-box-content">
													<div class="vertical-featured-image-container text-right" style="padding-top:80px">
														<!-- <img src="images/files/mobile11.png" alt="" data-hs-from-right="-50px" data-hs-right-distance-duration="1500" data-hs-right-fade-duration="500" data-hs-right-easing="easeOutElastic" data-hs-right-delay="600"> -->
														<img src="assets/frontpage/images/files/main_2.png"  alt="" data-hs-from-right="-50px" data-hs-right-distance-duration="1500" data-hs-right-fade-duration="500"
														 data-hs-right-easing="easeOutElastic" data-hs-right-delay="600" height="400">
														<!-- end vertical-featured-image-container -->
													</div>
													<!-- end header-center-box-content -->
												</div>
												<!-- end header-center-box -->
											</div>
											<!-- end col-md-5 -->
										</div>
										<div class="col-md-7 col-lg-7 padding-left-50px resp-remove-padding-left">
											<div class="header-center-box">
												<div class="header-center-box-content">
												  <h2 class="light-heading" data-hs-from-bottom="-80px" data-hs-bottom-distance-duration="800" data-hs-bottom-fade-duration="500" data-hs-bottom-delay="0.8"> Welcome to ERA APPs</h2>
												  <h5 class="light-heading subheader" data-hs-from-bottom="-80px" data-hs-bottom-distance-duration="800" data-hs-bottom-fade-duration="500"
													 data-hs-bottom-delay="100">
														New Experience
													</h5>

													<a class="button colorful hover-transparent-colorful with-hover-icon-right rounded large" href="#"
													 data-hs-from-bottom="-80px" data-hs-bottom-distance-duration="1200" data-hs-bottom-fade-duration="500" data-hs-bottom-delay="300">
														Please 'Click'
													<i class="fa fa-long-arrow-right"></i>
													</a>

												  <a class="button transparent-white hover-white with-icon-right rounded large" href="login" data-hs-from-bottom="-80px"
													 data-hs-bottom-distance-duration="1200" data-hs-bottom-fade-duration="500" data-hs-bottom-delay="400">
														Login
														<!-- <i class="fa fa-shopping-bag"></i> -->
													</a>

													<!-- end header-center-box-content -->
												</div>
												<!-- end header-center-box -->
											</div>
											<!-- end col-md-7 -->
										</div>
										<!-- end row -->
									</div>
									<!-- end container -->
								</div>
								<img src="assets/frontpage/images/files/banner.jpg" alt="">
							</li>
							<!-- end header-slider -->
						</ul>
						<!-- end header-featured-content -->
					</div>
				</div>
				<!-- end header parallax -->

				<div class="header-go-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<a href="#about-us">
									Scroll Down
									<span class="mouse"></span>
								</a>
								<!-- end col-sm-12 -->
							</div>
							<!-- end row -->
						</div>
						<!-- end container -->
					</div>
					<!-- end header-bottom-message-and-icon-go-bottom -->
				</div>

				<!-- end header-featured-content-outer -->
			</section>

			<!-- end header -->
		</header>

		<section class="logo-and-nav logo-and-nav-fixedwidth">

			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<a class="logo" href="#">
							<img src="assets/frontpage/images/files/logo-oip.png" alt="">
							<!-- <img class="dark-logo" src="images/files/logo-oip.png" alt=""> -->
							<!-- <h3><strong>Flare</strong></h3> -->

							<!-- end logo -->
						</a>

						<nav id="main-nav">
							<input type="checkbox" id="button">
							<label for="button"></label>
							<ul id="main-menu" class="main-menu">
								<li>
									<a href="welcome2#header">Home</a>
								</li>
								<li>
									<a href="welcome2#about-us">About</a>
								</li>
								<!-- <li>
									<a href="#our-clients">Clients</a>
								</li> -->
								<li>
									<a href="welcome2#features">Features</a>
								</li>
								<!-- <li>
									<a href="#testmonials">Testmonials</a>
								</li> -->
								<li>
									<a href="welcome2#contactus">Contact Us</a>
								</li>
								<!-- end main-menu -->
							</ul>
							<!--<div class="header-additional-addons">
								<a href="https://signup.oip.tm.com.my/store" class="go-to-subscribe button transparent-colorful hover-colorful with-hover-icon-right rounded small">Sign Up
									<i class="fa fa-mail-forward"></i>
								</a>
								
							</div> -->
							<!-- end nav -->
						</nav>

						<!-- end col-sm-12 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>

			<!-- end logo-and-nav -->
		</section>

		<div id="main-container">

			<div id="main">

				<!-- ===========================================
		Start "About Us" section
============================================ -->

				<section id="about-us">
					<section class="flat-section">
						<div class="container">
							<div class="row">
								<div class="flat-section-content">

									<div class="col-sm-12 col-md-6 padding-right-40px resp-remove-padding-top">
										<div class="flat-section-title">
										  <h2>Introduction ERA</h2>
										  <span class="flat-section-subtitle"> Welcome to the new Era! Your Personalised Career Coach . . <!-- end flat-section-subtitle -->
											</span>
											<!-- end flat-section-title -->
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon7.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
													  <p> <strong> Job Profile</strong> You are now one step closer to your dream job.</p>
													  <!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<div class="col-sm-12">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon10.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
													  <p> <strong>Ads Tracker</strong> Follow and endorse your friends skills and capabilities to promote them. </p>
													  <!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<div class="col-sm-12">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon8.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
													  <p> <strong>Ads Approval</strong> Available 24/7 making it the best option for your next career move! </p>
													  <!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div> 

											<!-- end row -->
										</div>
										<!-- end col-sm-12 col-md-9 -->
									</div>
									<div class="col-sm-12 col-md-6 padding-top-60px">
										<div class="vertical-featured-image-container">
											<img class="wow fadeInUp" src="assets/frontpage/images/files/service-exchange.png" alt="" height="500px">
											<!-- end vertical-featured-image-container -->
										</div>
										<!-- end col-sm-12 col-md-3 -->
									</div>
									<div class="col-sm-12">
										<div class="divider-space-container">
											<div class="divider-space-with-line" data-divider-space-with-line="80px"></div>
											<!-- end divider-space-with-line -->
											<!-- end divider-space-container -->
										</div>
										<!-- end col-sm-12 -->
									</div>
									<div id="features" class="col-sm-12 col-md-12 padding-left-40px padding-top-40px resp-padding-top-60px">
										<div class="flat-section-title">
											<h2>Features</h2>
											<span class="flat-section-subtitle">
												We have a complete ecosystem that offers more features on top of the basic functionalities.
												<!-- end flat-section-subtitle -->
											</span>
											<!-- end flat-section-title -->
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon1.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
														<h4>Dashboard</h4>
														<p>
															Data analytics for API publishers to monitor their API subscriptions and performance.
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<div class="col-sm-6">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon2.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
														<h4>Circle</h4>
														<p>
															Every improvement of the published API can be differentiated by versioning the API.
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>

											<div class="col-sm-6">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon4.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
														<h4>Jobs
														<span class="coming-soon" style="color:white; background:#fa0303; font-size:13px; padding:0px 5px; border-radius:3px; position: absolute; top:-10px; margin-left:10px;">New</span>
														</h4>
														<p>
															Job Profile / Ads Tracker / Ads Approval
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>

											<div class="col-sm-6">
												<div class="info-box1">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon20.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
														<h4>Engage with Community<span class="coming-soon" style="color:white; background:#31d403; font-size:13px; padding:0px 5px; border-radius:3px; position: absolute; top:-10px; margin-left:10px;"> coming soon </span></h4>
														<p>
															API subscribers can rate the API, leave comments and engage with the publishers via forum.
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<div class="col-sm-6">
												<div class="info-box1 ">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon5.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
													  <h4>Messaging <span class="coming-soon" style="color:white; background:#fa0303; font-size:13px; padding:0px 5px; border-radius:3px; position: absolute; top:-10px; margin-left:10px;">New</span> </h4>
													  <p>
															Publisher can offers various kind of packages for the subscriber to choose and monetize it.
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<div class="col-sm-6">
												<div class="info-box1 resp-remove-margin-bottom">
													<span class="info-box-icon icon x3">
														<img src="assets/frontpage/images/files/icons/icon6.png" alt="">
														<!-- end info-box-icon -->
													</span>
													<div class="info-box-content">
														<h4>Instant Notification</h4>
														<p>
															API can be put into several states before it is actually published, forming a managable lifecycle.
														</p>
														<!-- end info-box-content -->
													</div>
													<!-- end info-box1 -->
												</div>
												<!-- end col-sm-6 -->
											</div>
											<!-- end row -->
										</div>
										<!-- end col-sm-12 col-md-9 -->
									</div>


									<!-- end flat-section-content -->
								</div>
								<!-- end row -->
							</div>
							<!-- end container -->
						</div>
						<!-- end flat-section -->
					</section>
					<!-- end about-us section -->
				</section>

				<!-- ===========================================
		End "About Us" section
============================================ -->


				<!-- ===========================================
		Start "Subscribe" section
============================================ -->

				<section id="contactus">
					<section class="parallax-section white-content" data-stellar-background-ratio="0.5" data-parallax-background-image="banner.jpg">

						<div class="pattern-overlay" data-pattern-overlay-darkness-opacity="0.0" data-pattern-overlay-background-image="yes"></div>
						<div class="parallax-section-inner">

							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="flat-section-title text-center">
										  <h2>Get ready with New Apps</h2>
										  <span class="flat-section-subtitle"> Contact us and show your interest and start sharing your experience with us. <!-- end flat-section-subtitle -->
											</span>
											<!-- end flat-section-title -->
										</div>
										<!-- end col-sm-12 -->
									</div>
									<div class="col-sm-12">
										<a class="button colorful hover-transparent-colorful with-hover-icon-right rounded large" href="mailto:oip@tmrnd.com.my">
											Contact Us
											<i class="fa fa-envelope"></i>
										</a>

										<!-- end col-sm-12 -->
									</div>
									<!-- end row -->
								</div>
								<!-- end container -->
							</div>

							<!-- end parallax-section-inner -->
						</div>

						<!-- end parallax section -->
					</section>
					<!-- end subscribe -->
				</section>

				<!-- ===========================================
End "Subscribe" section
============================================ -->


				<!-- end main -->
			</div>
			<!-- end main-container -->
		</div>

		<footer id="footer">

			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="footer-logo-and-message">
							<img class="footer-logo-image" src="assets/frontpage/images/files/tm-logo.png" alt="" width="80">
							<span class="footer-logo-title">TM Research & Development</span>
							<div class="footer-message">Copyright © 2018 | All Rights Reserved</div>
							<!-- end footer-logo-and-message -->
						</div>
						<!-- end col-md-7 -->
					</div>
					<div class="col-md-5">

						<!-- end col-md-5 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>

			<!-- end footer -->
		</footer>

		<!-- end full-container -->
	</div>

	<div id="website-loading">
		<div class="loading-effect">
			<div class="la-ball-fall">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<span class="loading-title">loading</span>
			<!-- end loading-effect -->
		</div>
		<!-- end website-loading -->
	</div>