

<div class="row" style="margin-top: 2rem;">

    <div class="col-lg-8" style="margin:auto" >
        <div class="m-portlet thanks-card"> 
            <div class="m-portlet__body">
                <div class="thankyou">Thank you.</div>
                <div class="submitted">Your feeling today has been submitted.</div>
                <div class="row">
                    <div style="margin:auto; margin-top: 1rem">
                        <img [src]="getIcon()" style="width :18rem">
                        <img src="/assets/app/media/img/logos/done.png" style="margin-left: 5rem; width: 4rem;">   
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>