
<div #Circle class="container-pages text-center meter_page"> 
    <div class="row pt-0">
        <div class="col-sm-5">
            <div class="m-subheader">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator meter_separator">
                            Happy Meter
                        </h3>
                        <!-- <h3 class="m-subheader__title hitory_tab" (click)="historyClicked()">
                            History
                        </h3> -->
                    </div>
                </div>
            </div>

            <div class="a_way">A WAY TO MEASURE</div>
            <div class="hapyTitle">HAPPINESS</div>
            <div class="hpyMsg">
                Happy or unhappy? Enter this into Happy Meter, your 
                happiness diary, and save the moment. Then look at 
                your saved entries whenever you want - maybe you 
                will smile or reflect about it.
            </div>
            
            <br><br>
            <button routerLink="/meter-feel" class="enternow-btn btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                ENTER NOW
            </button>
            
        </div>
        <div class="col-sm-7 text-center" >
            <img style="padding-top: 1em !important; max-height: 64% !important;" alt="" 
                src="./assets/app/media/img/logos/meter.png"/>
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
    </div>
  </div>