<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{title1}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/admin/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <!-- begin::Page loader -->
        <div class="col-lg-12 centred my-auto">
            <ng-template #alertError></ng-template>
        </div>

        <div class="col-lg-12 centred my-auto" *ngIf="loading">
            <div class="m-section__content">
                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                    <div class="m-demo__preview">
                        <div class="m-stack m-stack--ver m-stack--general m-stack--demo">

                            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                <span>
                                    Loading data. Please wait...
                                </span>
                                <span>
                                    <div class="m-loader m-loader--lg m-loader--success" style="width: 30px; display: inline-block;"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end::Page loader -->

        <div class="col-lg-12" *ngIf="!loading">
            <div class="m-portlet m-portlet--rounded">
                <div class="m-portlet__head m--bg-focus" style="background: #FF5A00!important">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text  m--font-inverse-primary">
                                {{title2}}
                                <small>
                                    <!--portlet sub title-->
                                </small>
                            </h3>
                        </div>
                    </div>
                    <!-- <div class="" style="text-align: right; margin-top:20px">
                        <div class="m-button-tbl-sel">
                            <div class="btn-group m-btn-group" role="group" aria-label="...">
                                <button type="button" class="btn {{styleTypeViewAll}}" [routerLink]="[rAdvTrack,'all']">
                                    All
                                </button>
                                <button type="button" class="btn {{styleTypeViewEva}}" [routerLink]="[rAdvTrack,'evaluate']">
                                    Evaluate
                                </button>
                                <button type="button" class="btn {{styleTypeViewIv}}" [routerLink]="[rAdvTrack,'interview']">
                                    Interview
                                </button>
                                <button type="button" class="btn {{styleTypeViewCom}}" [routerLink]="[rAdvTrack,'complete']">
                                    Complete
                                </button>
                                <button type="button" class="btn {{styleTypeViewRev}}" [routerLink]="[rAdvTrack,'revert']">
                                    Revert
                                </button>
                            </div>
                            <router-outlet></router-outlet>
                        </div>
                    </div> -->
                </div>
                <div class="m-portlet__body">
                    <div class="m-section container" style="max-width: 100% !important;">
                        <!-- <div class="row">
                            <div class="col-12 col-md-8">
                            </div>
                            <div class="col-6 col-md-4">                                
                                <input class="form-control form-control-md" name="term" [(ngModel)]="term" placeholder="Search Name">
                            </div>
                        </div> -->

                        <form [formGroup]="filterForm" autocomplete="off">
                            <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
                                <!--begin::Item-->
                                <div class="m-accordion__item">
                                    <div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="    false">
                                        <span class="m-accordion__item-icon">
                                            <i class="fa fa-filter" style="font-size:25px;"></i>
                                        </span>
                                        <span class="m-accordion__item-title" style="font-size:1rem;">
                                            Filter By
                                        </span>
                                        <span class="m-accordion__item-mode"></span>
                                    </div>
                                    <div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body">
                                        <div class="m-accordion__item-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label style="margin-top:9px;">LOB: </label>
                                                        </div>
                                                        <div class="col-md-10">
                                                           <select name="lob" id="lob" class="form-control m-input" formControlName="filterLob">
                                                                <option value="">All</option>
                                                                <option [value]="item.lob" *ngFor="let item of filters.lob">{{item.lob}}</option>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-5 pr-0">
                                                            <label style="margin-top:9px;">Date: </label>
                                                        </div>
                                                        <div class="col-md-7 pl-0">
                                                            <input class="form-control m-input" id="startDtAdd" formControlName="filterStart" placeholder="dd-mm-yyyy">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <button class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info" type="button" (click)="submitFilter(1)" style="background: #FF5A00; background-color: #FF5A00; border-color: #FF5A00;">Submit</button>
                                                    <button class="btn m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning ml-3" type="button" (click)="submitFilter(2)" style="background: darkgrey; background-color: darkgrey; border-color: darkgrey;">Reset</button>
                                                </div>
                                            </div>
                                            <div class="row mt-3" *ngIf="errorDate">
                                                <div class="col-md-12">
                                                    <span style="color:red">End date should not be less than start date.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Item--> 
                            </div>                                
                        </form>

                        <!-- :start no data -->
                        <div class="col-lg-12 centred my-auto" *ngIf="!loading&&pagedItems.length<1" style="padding-left: 0; padding-right: 0;">
                            <div class="m-demo__preview" style="padding-top:20px">
                                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                        <span>
                                            List is empty
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- :end no data -->
        
                        <div class="table-responsive" *ngIf="!loading&&pagedItems.length>0">
                            <div class="col-lg-12 centred my-auto" *ngIf="!loading&&pagedItems.length<1">
                                <div class="m-demo__preview" style="padding-top:20px">
                                    <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                            <span>
                                                List is empty
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped  table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th *ngIf="showAdvId"><span title="Advertisement ID">No</span></th>
                                        <th *ngIf="showLOB">LOBs</th>
                                        <th *ngIf="showPosName">No of Extraordinaire</th>
                                        <th *ngIf="showCreator">Applicant</th>
                                        <th *ngIf="showCreator">Approved</th>
                                        <th *ngIf="showDtStart">Pending by Supervisor</th>
                                        <th *ngIf="showDtEnd">Rejected by Supervisor</th>
                                        <th *ngIf="showStatus">Status</th>
                                        <!-- <th *ngIf="showAct"></th> -->
                                    </tr>
                                    <tr>
                                        <!-- <th></th> -->
                                        <th *ngIf="showAdvId">
                                            <input class="form-control form-control-sm" name="termAdvId" [(ngModel)]="termAdvId">
                                        </th>
                                        <th *ngIf="showLOB">
                                            <input class="form-control form-control-sm" name="termLOB" [(ngModel)]="termLOB">
                                        </th>
                                        <th *ngIf="showPosName">
                                            <input class="form-control form-control-sm" name="termPosName" [(ngModel)]="termPosName">
                                        </th>
                                        <th *ngIf="showCreator">
                                            <input class="form-control form-control-sm" name="termCreator" [(ngModel)]="termCreator">
                                        </th>
                                        <th *ngIf="showCreator">
                                            <input class="form-control form-control-sm" name="termCreator" [(ngModel)]="termCreator">
                                        </th>
                                        <th *ngIf="showDtStart">
                                            <input style="visibility:hidden" class="form-control form-control-sm" name="termDtStart"
                                                [(ngModel)]="termDtStart">
                                        </th>
                                        <th *ngIf="showDtEnd">
                                            <input style="visibility:hidden" class="form-control form-control-sm" name="termDtEnd"
                                                [(ngModel)]="termDtEnd">
                                        </th>
                                        <th *ngIf="showStatus">
                                            <input style="visibility:hidden" class="form-control form-control-sm" name="termDtEnd"
                                                [(ngModel)]="termDtEnd">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- if all, data2 -->
                                    <tr *ngFor="let item of pagedItems | filter : termAdvId:termPosId: termJobTtl: termPosName: termLOB: termCreator: termTtlApp: termTtlAppMin: termTtlAppMax: termStatus: termDtStart: termDtEnd : termDtStart2: termDtEnd2  ;let i = index">
                                        <td *ngIf="showAdvId"><span *ngIf="item.ref; else empIdx">{{item.ref}}</span>
                                            <ng-template #empIdx>-</ng-template>
                                        </td>
                                        <td *ngIf="showLOB"><span *ngIf="item.lob; else empComp">{{item.lob |
                                                uppercase }}</span>
                                            <ng-template #empComp>-</ng-template>
                                        </td>
                                        <td *ngIf="showPosName"><span *ngIf="item.pro_name; else empPosName">{{item.pro_name
                                                | uppercase }}</span>
                                            <ng-template #empPosName>-</ng-template>
                                        </td>
                                        <td *ngIf="showCreator"><span *ngIf="item.creator; else empCreator">{{item.creator|
                                                uppercase}}</span>
                                            <ng-template #empCreator>-</ng-template>
                                        </td>
                                        <td *ngIf="showCreator"><span *ngIf="item.contact; else empCreator">{{item.contact|
                                                uppercase}}</span>
                                            <ng-template #empContact>-</ng-template>
                                        </td>
                                        <td *ngIf="showDtStart"><span *ngIf="item.st_date2; else empStDate">{{item.st_date2
                                                | date:'dd MMM yyyy'}}</span>
                                            <ng-template #empStDate>-</ng-template>
                                        </td>
                                        <td *ngIf="showDtEnd"><span *ngIf="item.end_date2; else empEdDate">{{item.end_date2
                                                | date:'dd MMM yyyy'}}</span>
                                            <ng-template #empEdDate>-</ng-template>
                                        </td>
                                        <td *ngIf="showStatus"><span *ngIf="item.end_date2; else empEdDate">{{item.end_date2
                                                | date:'dd MMM yyyy'}}</span>
                                            <ng-template #empEdDate>-</ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <nav aria-label="Page navigation example">
                                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
                                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                            <button (click)="setPage(1)" class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">First</span>
                                            </button>
                                        </li>
                                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                            <button (click)="setPage(pager.currentPage - 1)" class="page-link"  
                                                aria-label="Previous">
                                                <span aria-hidden="true">&lt;</span>
                                                <span class="sr-only">Previous</span>
                                            </button>
                                        </li>
                                        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                            <button (click)="setPage(page)" class="page-link" >{{page}}</button>
                                        </li>
                                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                            <button (click)="setPage(pager.currentPage + 1)" class="page-link" 
                                                aria-label="Previous">
                                                <span aria-hidden="true">&gt;</span>
                                                <span class="sr-only">Next</span>
                                            </button>
                                        </li>
                                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                            <button (click)="setPage(pager.totalPages)" class="page-link"  
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Last</span>
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="row" *ngIf="downloadCSV&&pagedItems.length>0">
                            <div class="col-12" style="text-align: right; margin-top:20px">
                                <div class="m-demo__preview m-demo__preview--btn">
                                    <button href="#" class="btn btn-primary m-btn m-btn--icon" (click)="download()" [disabled]="downloading" [ngClass]="{'m-loader m-loader--right m-loader--light': downloading}">
                                        <span>
                                            <i class="la la-download"></i>
                                            <span>{{downloadAllXLS}}</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>