<div class="m-section__content">
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="m-demo__preview">
            <div class="m-stack m-stack--ver m-stack--general m-stack--demo">

                <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                    <span>
                        Loading data. Please wait...
                    </span>
                    <span>
                        <div class="m-loader m-loader--lg m-loader--success" style="width: 30px; display: inline-block;"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
