<!-- begin::Quick Nav -->
<ul class="m-nav-sticky" style="margin-top: 30px;">
    <li class="m-nav-sticky__item"  title="{{jobUser}}" data-placement="left">
        <a routerLink="/admin/settings/job-user"> 
            <i class="la la-user-secret"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" title="{{closed}} {{ads}}" data-placement="left">
        <a routerLink="/admin/settings/closed-ads">
            <i class="la la-comment-o"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item"  title="{{broadcastMsg}}" data-placement="left">
        <a routerLink="/admin/settings/broadcast-message">
            <i class="la la-bullhorn"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item"  title="{{feedBack}}" data-placement="left">
        <a routerLink="/admin/settings/feedbacks">
            <i class="la la-angellist"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" title="{{verifySkillsets}}" data-placement="left">
        <a routerLink="/admin/settings/verify-skillsets">
            <i class="la la-cubes"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" title="{{appVersioning}}" data-placement="left">
        <a routerLink="/admin/settings/era-app-versioning">
            <i class="la 	la-umbrella"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" title="{{faqMngt}}" data-placement="left">
        <a routerLink="/admin/settings/faq-management">
            <i class="fa fa-question"></i>
        </a>
    </li>
</ul>
<!-- end::Quick Nav -->