<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Download ERA
            </h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row col-lg-12 centred my-auto">
        
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 dwAndroid">
                </div>
                
                <div class="col-lg-6 dwIos">
                </div>
                <div class="dllink">
                        <button (click)="goAndroid()" class="btn btn-download m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                            Download For Android
                        </button>
                    </div> 
                    <div class="dllink">
                            <button (click)="goIOS()"  class="btn btn-download m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                Download For iOS
                            </button>
                        </div>
            </div>
        
    </div>
</div> -->

<div>
    <!-- Download Section start-->
    <section id="home" class="home" style="margin-top: -90px;">
        <div class="home-decor">
        <div class="home-circle1"><img  src="assets/welcome/images/main-banner3.svg" alt=""></div>
        <div class="home-circle2"><img src="assets/welcome/images/main-banner12.svg" alt=""></div>
        <div class="home-circle3"><img src="assets/welcome/images/main-banner1.svg" alt=""></div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="home-contain">
                    <div>
                    <img src="assets/welcome/images/LogoERA.svg" alt="caption-img" class="caption-img">
                    <h4>New opportunities, New era!</h4>
                    <h1><span class="f-bold">ERA</span>
                        <span class="f-bold f-color">app</span>
                    </h1>
                    <p>SUPERCHARGE your career advancement with ERA, your career and networking app!</p><h4>Download the APP Now!</h4>
                    <!-- <a href="#"><img src="assets/welcome/images/appstore.svg" alt="appstore" class="store"></a>
                    <a href="#"><img class="ml-10 store" src="assets/welcome/images/playstore.svg" alt="play-store"></a> -->

                    <div class="row mt-3">
                        <div class="col-6">
                            <img src="../../../../../assets/img/user/QR_iOS.png" 
                            style="width: 150px; height: 145px; margin-bottom: 15px; border-radius: 10px; border-style: solid; border-width: 2px; border-color: gainsboro;">
                        </div>
                        <div class="col-6">
                            <img src="../../../../../assets/img/user/QR_Code.png" 
                            style="width: 150px; height: 145px; margin-bottom: 15px; border-radius: 10px; border-style: solid; border-width: 2px; border-color: gainsboro;">
                        </div>
                    </div>
                    <div class="row mt-3 mb-3 pl-1">
                        <div class="col-6">
                            <button class="btn btn-sm" style="color:white; background:black; border-radius: 10px;" (click)="goIOS()">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fa fa-apple" style="font-size: 30px; margin-top: 4px;"></i>
                                    </div>
                                    <div class="col-9">
                                        Download<br> 
                                        For iOS
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-sm" style="color:white; background:black; border-radius: 10px;" (click)="goAndroid()">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fa fa-android" style="font-size: 30px; margin-top: 3px;"></i>
                                    </div>
                                    <div class="col-9">
                                        Download<br> 
                                        For Android
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pt-4">
                            <span class="text-muted">Also available at 
                                <a href="https://hub.tm.com.my"> hub@TM.</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-md-1">
                <div class="home-right">
                    <img data-tilt data-tilt-perspective="110" data-tilt-speed="400" data-tilt-max="1.2" src="assets/welcome/images/mobile.png" class="img-fluid" alt="mobile">
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
